<div>
    <h1>Crear usuario:</h1>
<form id="form" action="">
  <ul>
    <li>
      <label for="name">name:</label>
      <input type="text" id="name"/>
    </li>
    <li>
      <label for="photo">photo (opcional):</label>
      <input type="email" id="photo"  />
    </li>
    <li>
      <label for="mail">mail:</label>
      <input type="Es necesario" id="mail"  />
    </li>
    <li>
      <label for="age">age (opcional):</label>
      <input type="email" id="age"  />
    </li>
    <li>
            <label for="Mail">Rol (0 usuario comun o 1 administrador):</label>
            <select name="language" id="rol">
                <option value="comun">0</option>
                <option value="admin">1</option>
            </select>
            </li>
    <li>
      <label for="password">password:</label>
      <input type="email" id="password"  />
    </li>
  </ul>
</form>
<button type="submit" id="button_creacion">Submit form</button>
<h2 id="respuesta"></h2>


<script src = "/socket.io/socket.io.js"></script>
<script type="module" src = "/js/register.js"></script>
